{
  "parser": "babel-eslint",
  "root": true,
  "extends": ["@asd14/eslint-config/targets/react"],
  "ignorePatterns": ["dist/*.js"],

  "globals": {
    "process": true,
    "require": true,
    "module": true
  },

  "rules": {
    "new-cap": "off",

    // disable until upstream issues fixed
    "jsdoc/check-line-alignment": "off"
  },

  "settings": {
    // Recommended if you use eslint_d
    "import/cache": {
      "lifetime": 5
    },

    // Can add a path segment here that will act like a source root, for
    // in-project aliasing (i.e. `import MyStore from 'stores/my-store'`)
    "import/resolver": "webpack"
  }
}
