.base-layout {
  display: grid;

  height: 100vh;

  color: var(--color-fg);
  background: var(--color-bg);

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--unit);
  grid-template-columns: 1fr 1fr;
}

.content {
  padding: var(--unit);
}

.leftside {
  padding: var(--unit);

  border-right: var(--unit) solid var(--color-bg1);
}
