@font-face {
  font-family: "Fira Code";
  src:
    url("./fonts/FiraCode-Regular.woff2") format("woff2"),
    url("./fonts/FiraCode-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src:
    url("./fonts/FiraCode-Bold.woff2") format("woff2"),
    url("./fonts/FiraCode-Bold.woff") format("woff");

  font-weight: bold;
  font-style: normal;
}
