@import "sanitize.css";
@import "./variables.css";
@import "./fonts.css";

body {
  color: var(--color-black);
  background-color: var(--color-white);

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}
